{% extends "layout.njk" %}

{% block content %}

    <section class="wrap-banner">
        <div class="main-banner">
            <div class="overlay-banner">
                <h1 class="title">As melhores receitas</h1>
                <p class="description">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
        </div>
    </section>
    <section class="main-recipes">
        <h2 class="title">Mais acessadas</h2>
        <ul class="list-cards">
            {% for item in items %}
            <li class="item">
                <dl class="card-recipe">
                    <dd class="image">
                        <img class="image"src="{{item.image}}" alt="{{item.title}}">
                    </dd>
                    <dt class="name">{{item.title}}</dt>
                    <dd class="chef">{{item.author}}</dd>
                </dl>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% endblock %}
