{% extends "layout.njk" %}

{% block content %}

<section class="main-detail">
   <article>
      <img class="image"src="{{item.image}}" alt="{{item.title}}">
      <h1 class="title">{{item.title}}</h1>
      <p class="chef">por {{item.author}}</p>
      <h2 class="subtitle">
         Ingredientes
         <button class="toggle">mostrar</button>
      </h2>
      <div class="content">
         <ul class="items-list">
            {% for ingredients in item.ingredients %}
            <li class="item">{{ingredients}}</li>
            {% endfor %}
         </ul>
      </div>
      <h2 class="subtitle">
         Modo de preparo
         <button class="toggle">mostrar</button>
      </h2>
      <div class="content">
         <ul class="items-list">
            {% for preparation in item.preparation %}
            <li class="item">{{preparation}}</li>
            {% endfor %}
         </ul>
      </div>
      {% if (item.information != "") %}
         <h2 class="subtitle">
            Informações adicionais
            <button class="toggle">mostrar</button>
         </h2>
         <div class="content">
            <p class="info">
               {{item.information.replace("\n\n","<br><br>")}}
            </p>
         </div>
      {% endif %}
   </article>
</section>

<!-- build:alljs -->
<script src="/js/components/btn-toggle.js"></script> -->
<!-- endbuild -->

{% endblock %}

