{% extends "layout.njk" %}

{% block content %}

<section class="main-recipes">
   <ul class="list-cards">
      {% for item in items %}
         <li class="item">
            <dl class="card-recipe">
               <dd class="image">
                  <img class="image"src="{{item.image}}" alt="{{item.title}}">
               </dd>
               <dt class="name">{{item.title}}</dt>
               <dd class="chef">{{item.author}}</dd>
            </dl>
         </li>
      {% endfor %}
   </ul>
</section>

<!-- build:alljs -->
<!-- endbuild -->

{% endblock %}